*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;

    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 5;
    transition: all 0.3s ease;
}

header .logo_store_name_container{
    display: flex;
    align-items: center;
}

.logo_store_name_container .logo_container{
    margin-right: 16px;
}

.logo_store_name_container .logo_container img{
    width: 100px;
}

.logo_store_name_container .store_name_container h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;

}

.logo_store_name_container .store_name_container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #656565;
}

header a{
    width: 130px;
    height: 50px;
    background: #8130F3;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}



/* ... MAIN CONTAINER ... */
.main_container{
    padding: 0 60px 40px 60px;
    margin-top: 140px;
}

.main_container .heading{
    display: flex;
    align-items: center;
}

.main_container .heading h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin-right: 50px;
}

.main_container .heading p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}




/* ... STORE DETAILS TOP BUTTONS ... */
.store_details_btns_container{
    margin-top: 20px;
    display: flex;
    
}

.store_details_btns_container button{
    margin-right: 24px;
}
.store_details_btns_container button img{
    width: 16px;
}

.store_details_btns_container button:nth-child(1){
    border: none;
    width: 280px;
    height: 45px;
    background: rgba(245, 169, 109, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1C1B1F;
    cursor: pointer;
}

.store_details_btns_container button:nth-child(2){
    border: none;
    width: 230px;
    height: 45px;
    background: rgba(245, 169, 109, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1C1B1F;
    cursor: pointer;
}

.store_details_btns_container button:nth-child(3){
    border: none;
    width: 140px;
    height: 45px;
    background: rgba(245, 169, 109, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1C1B1F;
    cursor: pointer;
}

.store_details_btns_container button:nth-child(4){
    border: none;
    width: 160px;
    height: 45px;
    background: rgba(245, 169, 109, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1C1B1F;
    cursor: pointer;
}



/* .... MENU ITEMS .... */
.menu_heading{
    margin-top: 60px;
}

.menu_heading h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #000000;

}

.menu_items_container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.menu_items_container .menu_item{
    /* width: 400px; */
    background: #FFFFFF;
    border: 1px solid rgba(19, 0, 55, 0.1);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(128, 127, 127, 0.3);
}

.item_details{
    padding: 0 14px 20px;
}

.menu_items_container .menu_item .item_image img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.menu_items_container .menu_item .item_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
}

.menu_items_container .menu_item .item_description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-top: 4px;
}

.menu_items_container .menu_item .view_menu_btn a{  
    text-decoration: none;
    width: 110px;
    height: 40px;
    background: #8130F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 40px;
}



/*  ... SOCIALS ... */
.socials{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

.socials h2{
    margin-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.socials div{
    margin-right: 8px;
}





/* ... mid line ... */
.ordering-mid-line{
    height: 0px;
    width: 100%;
    border: 1px solid #D2D2D2;
    margin-top: 50px;
}



.mode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #656565;
    cursor: pointer;
    margin-top: 30px;

    /* position: absolute;
    right: 60px;
    bottom: 16px; */
}

.copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;

}


.mode div{
    display: flex;
    align-items: center;
}

.mode p{
    margin-left: 8px;
}





/* ... MEDIA QUERIES ... */
@media screen and (max-width:1230px) {
    .socials{
        width: 28vw;
    }
    
}

@media screen and (max-width:940px){

    .menu_items_container{
        grid-template-columns: 1fr 1fr;
    }

    .socials{
        width: 40vw;
    }
}

@media screen and (max-width:900px) {
         
    .store_details_btns_container{
      flex-direction: column;
    }

        
    .store_details_btns_container button{
        margin-right: 0px;
        margin-bottom: 10px;
    }

}



@media screen and (max-width:780px) {

        
    .logo_store_name_container .logo_container{
        margin-right: 4px;
    }
        
    .logo_store_name_container .logo_container img{
        width: 80px;
    }
            
    .logo_store_name_container .store_name_container h2{
        font-size: 20px;
    }

    .logo_store_name_container .store_name_container p{
        font-size: 12px;
    }

    header a{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

    header a img{
        width: 16px;
    }


}
 


@media screen and (max-width:640px) {

    header{
        padding: 0 30px 0 20px;
    }



    .main_container{
        padding: 0 12px 40px 20px;
    }


                        
    .main_container .heading h2{
        font-size: 14px;
        margin-right: 10px;
    }

    .main_container .heading p{
        font-size: 14px;
    }



        
    /* ... STORE DETAILS TOP BUTTONS ... */
    
    .store_details_btns_container button{
        margin-right: 0px;
    }
    .store_details_btns_container button img{
        width: 12px;
    }

    .store_details_btns_container button:nth-child(1){
        width: 220px;
        height: 30px;
        border-radius: 8px;
        font-size: 12px;
    }

    .store_details_btns_container button:nth-child(2){
        width: 160px;
        height: 30px;
        border-radius: 8px;
        font-size: 12px;
    }

    .store_details_btns_container button:nth-child(3){
        width: 100px;
        height: 30px;
        border-radius: 8px;
        font-size: 12px;
    }

    .store_details_btns_container button:nth-child(4){
        width: 110px;
        height: 30px;
        border-radius: 8px;
        font-size: 12px;
    }


        
    .menu_heading h2{
        font-size: 20px;
    }




    
    .menu_items_container{
        grid-template-columns: 1fr;
    }

    .socials{
        width: 50vw;
    }

    .socials h2{
        font-size: 18px;
    }

    .socials img{
        width: 15px;
    }
}


@media screen and (max-width:499px) {
    
    header{
        padding: 0 10px;
    }


    .logo_store_name_container .store_name_container h2{
        font-size: 14px;
    }

    .logo_store_name_container .store_name_container p{
        font-size: 8px;
    }

    header a{
        width: 80px;
        height: 30px;
        font-size: 8px;
        border-radius: 8px;
    }

    header a img{
        width: 12px;
    }




    .logo_store_name_container .logo_container img{
        width:30px;
    }



    
    .main_container{
        padding: 0 12px 40px 12px;
    }

    .socials{
        width: 62vw;
    }



    .copyright{

        font-size: 10px;
    }


   

    .mode .mode_container p{
        font-size: 16px;
        margin-left: 4px;
    }

    .mode .mode_container img{
        width: 18px;
    }




}