

 body{

    background-color: #F8F5FA;

 }



.welcome-msg p{
    margin-left: -218px;
}



.success-create-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 60px; */
    padding-bottom: 16px;
    border-bottom: 1px solid #D2D2D2;
}


.success-create-top{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: fit-content;
}

.success-create-top .img-icon{
    margin-top: 4px;
}

.success-create-top p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding-left: 8px;
    color: #000000;
    width: fit-content;
}


.success-create-top-link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding-left: 8px;
    color: #000000;
    width: fit-content;
}


.dashboard-Store{
   display: flex;
   align-items: center;
   margin-top: 35px;
}

.dashboard-Store p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding-right: 8px;
    color: #000000;
}

.store-created-title{
    margin-top: 14px;
}

.store-created-title .store-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 6px;
    color: #000000;

}

.store-created-title .store-link{
    display: flex;
}

.store-created-title .store-link p{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 13px;
    color: #656565;

}


/* Right Middle Section */

.right-middle{
    padding-left: 0px;
    margin-top: 30px;
}

.right-middle h2{
    width: fit-content;
}

.right-middle .line2{
    margin-left: 14px;
}

.right-middle a{
    margin-left: 36px;
}


.person-sitting-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

        
    background: rgba(255, 255, 255, 0.5);
    border: 0.843511px solid rgba(19, 0, 55, 0.1);
    border-radius: 16.8702px;
}

.person-sitting-container .para1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16.8702px;
    line-height: 20px;

    color: #000000;

}

.person-sitting-container .para2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4962px;
    line-height: 16px;
    margin-top: 10px;
    color: #000000;

}

.mode{
    display: flex;
    align-items: center;
    position: absolute;
    width: 49px;
    height: 24px;
    left: 90vw;
    top: 900px;
    padding-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #656565;

}

.mode p{
    margin-left: 8px;
}





/* ..... MEDIA QUERIES ..... */
@media screen and (max-width:1440px){
        

    .welcome-msg p{
        margin-left: -30px;
    }

}
