

 body{

    background-color: #F8F5FA;

 }



.welcome-msg p{
    margin-left: -218px;
}


/* ... DASHBOARD BUTTON ...  */
.dashboard{
    
    position: absolute;
    width: 230px;
    height: 50px;
    left: 32px;
    top: 118px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out; 
}

.dashboard a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dashboard p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #656565;
    margin-left: 16px;

}

.dashboard:hover{
    background: rgba(129, 48, 243, 0.3);
    color: white;
    padding-left: 8px;
}


/* ... CUSTOM DOMAIN BUTTON ... */

.custom-page{
    position: absolute;
    width: 230px;
    height: 50px;
    left: 32px;
    top: 580px;
    background: #8130F3;
    border-radius: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out; 
}

.custom-page p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
   color: white;
    margin-left: 16px;
}



/* Path Heading */
.path{
    display: flex;
    align-items: center;
}
.path p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;


}
.path img{
    margin: 6px 6px 0 6px;
}

.connect_domain{
    margin-top: 20px;
}
.connect_domain h2{  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 6px;
    color: #000000;
}
.connect_domain p{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #656565;

}

/* ... INPUT SECTION ... */
.input_section_container{
    margin-top: 40px;
}

.input_section{
    display: flex;
    align-items: center;
}
.input_section h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;

    color: #000000;
}
.input_section img{
    width: 16px;
    margin-top: 3px;
    margin-right: 8px;
}

.input_cont input{
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(19, 0, 55, 0.1);
    border-radius: 10px;
    margin-top: 6px;
}



input{
    padding-left: 20px;
    font-size: 18px;
}


input:focus{
    outline:  1.5px solid #8130F3;
}


.input_section_container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
    color: #656565;

}




/* Right Bottom */
.right-bottom{
    margin-top: 60px;
    margin-bottom: 20px;
}

.right-bottom a{
    width: 468px;
    height: 62px;
    padding: 22px 186px 22px 195px;
    background: #8130F3;
    border-radius: 10px;
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
}



.mode{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #656565;
    cursor: pointer;

    position: absolute;
    right: 56px;
    bottom: 10px;
}

.mode p{
    margin-left: 8px;
}






/* ..... MEDIA QUERIES ..... */
@media screen and (max-width:1440px){
        

    .welcome-msg p{
        margin-left: -30px;
    }

}
