
 body{

    background-color: #F8F5FA;

 }





.welcome-msg p{
    margin-left: -218px;
}



.success-create-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #D2D2D2;
}

.success-create-top{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.success-create-top .img-icon{
    margin-top: 4px;
}

.success-create-top p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding-left: 8px;
    color: #000000;
    width: fit-content;
}

.success-create-top-link{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;

}


.dashboard-Store{
   display: flex;
   align-items: center;
   margin-top: 35px;
}

.dashboard-Store p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding-right: 8px;
    color: #000000;
}

.store-created-title{
    margin-top: 14px;
}

.store-created-title .store-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 6px;
    color: #000000;

}

.store-created-title .store-link{
    display: flex;
}

.store-created-title .store-link p{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 13px;
    color: #656565;

}

.right-middle{
    padding-left: 0px;
    margin-top: 30px;
}

.right-middle h2{
    min-width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.right-middle .line2{
    margin-left: 14px;
}

.right-middle a{
    margin-left: 36px;
    padding-left: 30px;
}


.mode{
    display: flex;
    align-items: center;
    position: absolute;
    width: 49px;
    height: 24px;
    left: 90vw;
    top: 98%;
    padding-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #656565;

}

.mode p{
    margin-left: 8px;
}



/* ... ITEM EXTRA CARDS ... */

.itemExtra-cards-container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
}

.itemExtra-cards-container .itemExtra-card{
    height: fit-content;
    box-shadow: 0 5px 10px rgba(0, 0, 10, 0.2);
    background-color: white;
    border-radius: 15.8528px;
    padding-left: 30px;
    padding-top: 25px;
}

.itemExtra-cards-container .itemExtra-card h2{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19.0234px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 14px;
}

.itemExtra-cards-container .itemExtra-card .pay-usd{
    display: flex;
    align-items:center;
    margin-bottom: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;

    color: #000000;
}

.itemExtra-cards-container .itemExtra-card .pay-usd img{
    margin-right: 4px;
    margin-top: 2px;
}

.itemExtra-cards-container .itemExtra-card .item-extra-create-date{
    display: flex;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;

    color: #000000;
}
.itemExtra-cards-container .itemExtra-card .item-extra-create-date img{
    margin-right: 6px;
}

.itemExtra-cards-container .itemExtra-card .status{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -30px;
    margin-top: 20px;
    height: 34.57px;
    background: rgba(245, 169, 109, 0.15);
    padding-right: 16px;
    border-radius:0 0 15.8528px 15.8528px;
}

.itemExtra-cards-container .itemExtra-card .status p{
    margin-right: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #029C2D;
}







/* ..... MEDIA QUERIES ..... */
@media screen and (max-width:1440px){
        

    .welcome-msg p{
        margin-left: -30px;
    }

}



@media screen and (max-width:1200px) {
    
    .itemExtra-cards-container{
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 20px;
    }
}