
 body{

    background-color: #F8F5FA;

 }



.welcome-msg p{
    margin-left: -218px;
}


/* ... DASHBOARD BUTTON ... */

.dashboard{
    
    position: absolute;
    width: 230px;
    height: 50px;
    left: 32px;
    top: 118px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out; 
}

.dashboard a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dashboard p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #656565;
    margin-left: 16px;

}

.dashboard:hover{
    background: rgba(129, 48, 243, 0.3);
    color: white;
    padding-left: 8px;
}


/* ... CUSTOM DOMAIN BUTTON ... */

.custom-page{
    position: absolute;
    width: 230px;
    height: 50px;
    left: 32px;
    top: 580px;
    background: #8130F3;
    border-radius: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out; 
}

.custom-page p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
   color: white;
    margin-left: 16px;
}




/* Content Right */

.custom_right_top{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_right_top_left_p{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.custom_right_top_right{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_right_top_right .link{
    width: 240px;
    height: 50px;
    background: #8130F3;
    border-radius: 10px;
    margin-left: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 17px;
    color: #FFFFFF;
}

.custom_right_top_right .download_btn{
    width: 60px;
    height: 50px;
    background: rgba(245, 169, 109, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.custom_right_top_right .tune_btn{
    width: 60px;
    height: 50px;
    background: rgba(149, 180, 187, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;

}


.person-sitting-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

        
    background: rgba(255, 255, 255, 0.5);
    border: 0.843511px solid rgba(19, 0, 55, 0.1);
    border-radius: 16.8702px;
}

.person-sitting-container .para1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16.8702px;
    line-height: 20px;

    color: #000000;

}

.person-sitting-container .para2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4962px;
    line-height: 16px;
    margin-top: 10px;
    color: #000000;

}

.mode{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #656565;
    margin-left: 54px;
    margin-right: 5vw;
    margin-top: 70px;
    cursor: pointer;
}

.mode p{
    margin-left: 8px;
}










/* ..... MEDIA QUERIES ..... */
@media screen and (max-width:1440px){
        

    .welcome-msg p{
        margin-left: -30px;
    }

}
