
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #FFFFFF;

}



.welcome-msg p{
    margin-left: -218px;
}



.success-create-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 60px; */
    padding-bottom: 16px;
    border-bottom: 1px solid #D2D2D2;
}


.success-create-top{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: fit-content;
}

.success-create-top .img-icon{
    margin-top: 4px;
}

.success-create-top p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding-left: 4px;
    color: #000000;
    width: fit-content;
}


.success-create-top-link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding-left: 2px;
    color: #000000;
    width: fit-content;
}


.store-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
     margin-top: 6px;
    color: #656565;

}


/* Nav Buttons */
.nav-btns{
   margin-top: 35px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

a{
    text-decoration: none;
}

.nav-btns .business-btn{
    width: 120px;
    height: 50px;
    background: #8130F3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}
.nav-btns .business-btn img{
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 14px;
}

.nav-btns .nav-btn{
    width: 120px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: all 0.25s ease-in-out;
}

.nav-btns .nav-btn:hover{
    background: rgba(129, 48, 243, 0.3);
    color: white;
}

.nav-btns .nav-btn img{
    margin-top: 4px;
    margin-right: 4px;
}

.nav-btns .nav-btn p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #1C1B1F;  
}



/* Dashboard > menu > */
.dashboard-createStore{
   display: flex;
   align-items: center;
   margin-top: 40px;

}

.dashboard-createStore p{   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    padding-right: 8px;
    color: #000000;
}

.create-heading p{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    margin-top: 25px;
    color: #000000;
}

.domain-heading{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.without-icon{
    margin-top: 34px;
}

.domain-heading p{    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 12px;
    color: #000000;
}

.input{
    margin-top: 11px;
    display: flex;
    align-items: center;
}

.input input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(19, 0, 55, 0.1);
    border-radius: 10px;
}

input{
    padding-left: 20px;
    font-size: 18px;
}


input:focus{
    outline:  1.5px solid #8130F3;
}

.input input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #D9D9D9;
}

.some-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
    color: #656565;
}



/* Business Details Heading */
.businessDetails{
    margin-top: 37px;
}

.businessDetails h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.businessDetails p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14.9487px;
    line-height: 18px;
    color: #656565;
    margin-top: 4px;

}


.city_country_zip{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.city_country_zip .city_input select, .city_country_zip .country_input select{
    width: 25vw;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border: 0.934293px solid rgba(19, 0, 55, 0.1);
    border-radius: 9.34293px;
    padding-left: 6px;
    padding-right: 10px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
}

.city_country_zip .city_input h2, .city_country_zip .country_input h2, .zip_input h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 6px;
}

.zip_input input{
    width: 10vw;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border: 0.934293px solid rgba(19, 0, 55, 0.1);
    border-radius: 9.34293px;

}

/* Email and Phone */
.other_details{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}
.other_details h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 12px;
    color: #000000;
    margin-left: 0;
    margin-bottom: 4px;
}

.other_details .input_cont input{
    height: 50px;
    width: 33vw; 
    background: rgba(255, 255, 255, 0.5);
    border: 0.934293px solid rgba(19, 0, 55, 0.1);
    border-radius: 9.34293px;
}




/* Right Bottom */

.right-bottom{
    margin-top: 71px;
    margin-bottom: 30px;
}

.right-bottom p{   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #656565;
    margin-bottom: 38px;

}

.right-bottom a{
    width: 468px;
    height: 62px;
    padding: 22px 186px 22px 195px;
    background: #8130F3;
    border-radius: 10px;
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}










/* ..... MEDIA QUERIES ..... */
@media screen and (max-width:1440px){
        

    .welcome-msg p{
        margin-left: -30px;
    }

}



@media screen and (max-width:1300px){
        
    .other_details .input_cont input{
        width: 30vw; 
    }

}





